<% unless user_signed_in? %>
  <div class="jumbotron">
    <div class="container">
       
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>

      </p>
     
    </div>
  </div>
  <% else %>
  <div class="jumbotron">
    <h3> Welcome <%= current_user.name %> </h3>
  <% end %>
